@import url("https://prof2k.github.io/Abosede-George-Ogan/styles/universal-style.css");
@import url("https://prof2k.github.io/Abosede-George-Ogan/styles/header-footer-style.css");
@import url("https://prof2k.github.io/Abosede-George-Ogan/styles/typography.css");

@import url("../styles/universal-style.css");
@import url("../styles/header-footer-style.css");
@import url("../styles/typography.css");

:root {
    --pri-clr: #2c46a4;
    --sec-clr: #3c3e3e;
    --pri-hover-clr: #050941;
    --pri-clr-light: hsl(226, 57%, 96%);
    --pink: #E91E63;
    --pink-light: #fef0f4;
    --sec-clr-lighter: #e5fffc;
    --useful-color: #2f3f54;
    --theme-color: #2c46a4;
    scroll-behavior: smooth;
    --webkit-scroll-behavior: smooth;
}
/* Universal */
.read-more {
    display: inline-block;
    padding: 1em 2em;
    border: 2px solid var(--pri-clr);
    /* font-weight: 500; */
}

.read-more:hover {
    color: white;
    background: var(--pri-clr);
}

/* Portfolio */
#heading {
    padding: 50px 0;
    /* background: var(--pri-clr); */
    font-size: 5em;
    line-height: .5em;
    color: var(--pri-clr);
    text-align: center;     
}

#heading img {
    border-radius: 100%;
    background: var(--pri-clr);
    background-image: radial-gradient(hsl(227, 57%, 51%) 25%, transparent 0),
                      radial-gradient(hsl(227, 57%, 51%) 35%, transparent 0);
    background-size: 20px 20px;
    background-position: 0 0, 15px 15px;
    height: 100px;
    width: 100px;
    border: 2px solid white;
    object-fit: cover;
}

#heading h1 {
    margin: 0;
    display: inline-block;
    font-size: 1em;
}

/* Experiences */
#experiences {
    padding-top: 0;
    font-family: 'Segoe UI', serif;
    /* displsy: none; */
}

#experiences h3 {
    font-family: 'Segoe UI', serif;
}

#experiences p {
    font-weight: normal;
}

.experience {
    /* background: #ccc; */
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    position: relative;
}

.experience:last-child {
    margin-bottom: 0;
}

.experience h3 {
    flex-basis: 25%;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    color: white;
    background: var(--pri-clr);
    padding: 1.9em 50px;
    /* padding-left: 5px; */
    margin: 0;
    position: relative;
    /* border-radius: 10px; */
    /* box-shadow: 2px 0 4px rgba(0,0,0,.5); */
}

.experience h3::after {
    content: "";
    position: absolute;
    left: 20px;
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #fff;
    box-shadow: inset 3px 2px 3px rgba(0,0,0,.55);
}

.experience p {
    margin: 0;
    padding: 10px 0;
    padding-left: 25px;
    line-height: 1em !important;
    /* background: var(--pri-clr-light); */
    flex-basis: 50%;
}

.experience p::after {
    content: "";
    position: absolute;
    top: 8px; bottom: 8px;
    left: 20%; right: 0;
    background: hsl(226, 57%, 86%);
    z-index: -1;
}

/* See More*/

#see-more {
    margin: 20px 0;
    padding: 0;
}

#see-more h2 {
    margin-bottom: 1.2em;
}

#see-more .box {
    flex-basis: 30%;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid var(--pri-clr);
    margin: 20px;
}

#see-more h3 {
    font-weight: bold;
}

#see-more img {
    display: inline-block;
    position: absolute;
    margin-top: -35px;
    margin-left: -19px;
    padding: 10px;
    padding-top: 0;
    background: #fff;
}

@media(max-width: 400px) {
    .experience {
        flex-direction: column;
        align-items: unset;
    }

    .experience h3{
        flex-grow: 1;
        flex-basis: 100%
    }

    .experience p::after {
        left: 0;
        bottom: 0;
        top: 0;
    }
}