@import url("C:/Users/Kolawole Elijah/Desktop/sample codes/work/Abosede-George-Ogan/styles/universal-style.css");
@import url("C:/Users/Kolawole Elijah/Desktop/sample codes/work/Abosede-George-Ogan/styles/header-footer-style.css");
@import url("C:/Users/Kolawole Elijah/Desktop/sample codes/work/Abosede-George-Ogan/styles/typography.css");

@import url("../styles/universal-style.css");
@import url("../styles/header-footer-style.css");
@import url("../styles/typography.css");

:root {
    --pri-clr: #2c46a4;
    --sec-clr: #3c3e3e;
    --pri-hover-clr: #050941;
    --pri-clr-light: hsl(226, 57%, 96%);
    --pink: #E91E63;
    --pink-light: #fef0f4;
    --sec-clr-lighter: #e5fffc;
    --useful-color: #2f3f54;
    --theme-color: #2c46a4;
    scroll-behavior: smooth;
    --webkit-scroll-behavior: smooth;
}
/* Universal */
.read-more {
    display: inline-block;
    padding: 1em 2em;
    border: 2px solid var(--pri-clr);
    /* font-weight: 500; */
}

.read-more:hover {
    color: white;
    background: var(--pri-clr);
}

/* Portfolio */

article::before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    height: 70vh;
    top: 0;
    background: var(--pri-clr);
    z-index: -1;
}

#heading {
    padding: 50px 0;
    background: var(--pri-clr);
    font-size: 5em;
    line-height: .5em;
    color: white;
    text-align: center;
}

#heading img {
    border-radius: 100%;
    background: transparent;
    background-image: radial-gradient(hsl(227, 57%, 51%) 25%, transparent 0),
                      radial-gradient(hsl(227, 57%, 51%) 35%, transparent 0);
    background-size: 40px 40px;
    background-position: 0 0, 15px 15px;
    height: 200px;
    width: 200px;
    border: 2px solid white;
    object-fit: cover;
}

#heading h1 {
    margin: 0;
    display: inline-block;
    font-size: 3em;
}

#heading>* {
    margin: 0 20px;
}

/* Article */
article .inner-container {
    background: var(--pri-clr-light);
    padding: 50px 30px;
    line-height: 1.5em;
    font-size: 1.1em;
}

article .inner-container::first-letter {
    font-family: 'Poiret One';
    font-size: 3.5em;
    line-height: 0;
    font-weight: bold;
    padding: 10px;
}

/* Notable Articles */

#notable-articles {
    padding-top: 0;
}

#notable-articles h2 {
    margin-bottom: 1.5em;
}

#notable-articles a {
    /* max-width: 25%; */
    flex-basis: 30%;
    margin: 5px;
    text-align: center;
    color: #333;
    /* border: 2px solid #333; */
    background: var(--pri-clr-light);
    padding-bottom: 2em;
}

figure {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#notable-articles a h3 {
    font-family: unset;
    margin-top: 0;
    padding: 1em 10%;
    z-index: 1;
}

.article a {
    color: var(--pri-clr);
    font-family: 'Cormorant Garamond semibold', sans-serif;
}

#notable-articles a img {
    width: 100%;
    transition: all ease-in-out 250ms;
    z-index: -1;
    height: 100%;
    object-fit: cover;
}

#notable-articles a:hover img {
    transform: scale(1.1);
}

#notable-articles a:hover {
    background: hsl(226, 57%, 86%);
    filter: saturate(1.5);
    text-decoration: underline rgba(0,0,0,.2);
}

/* See More*/

#see-more {
    margin: 20px 0;
    padding: 0;
}

#see-more h2 {
    margin-bottom: 1.2em;
}

#see-more .box {
    flex-basis: 30%;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid var(--pri-clr);
    margin: 20px;
}

#see-more h3 {
    font-weight: bold;
}

#see-more img {
    display: inline-block;
    position: absolute;
    margin-top: -35px;
    margin-left: -19px;
    padding: 10px;
    background: #fff;
}

@media(max-width: 650px) {
    #heading {
        line-height: unset;
    }

    #heading img {
        max-width: 80vw;
        /* max-height: 80vw; */
    }

    #heading h1 {
        font-size: 3em;
    }

    article .inner-container {
        padding: 2em 1em;
    }
}

#heading {
    padding: 50px 0;
    background: var(--pri-clr);
    /* font-size: 3em; */
    /* line-height: .5em; */
    color: white;
    text-align: center;
}

#heading h1 {
    margin: 0;
    display: inline-block;
    font-size: 1.5em;
}