:root {
    /* --pri-clr: #1a232f; */
    --pri-clr: #2c45a3;
    --sec-clr: #3c3e3e;
    --pri-hover-clr: #050941;
    --pri-clr-light: #dbe1f5;
    --sec-clr-light: #5fffeb;
    --sec-clr-lighter: #e5fffc;
    --useful-color: #2f3f54;
    scroll-behavior: smooth;
    --webkit-scroll-behavior: smooth;
}

header {
    padding: 10px;
    background: var(--pri-clr);
    color: white;
    overflow: hidden;
    font-family: 'Poiret One', 'Product Sans';
    z-index: 1;
}

header #home-link {
    font-size: 1.4em;
    font-weight: 100;
    background: #2c46a47e;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 1;
}

#home-link span {
    color: white;
}


#home-link:hover span {
    color: white;

}

header nav a {
    display: inline-block;
    padding: 1em 1.2em;
    letter-spacing: .9px;
    font-weight: bold;
    position: relative;
}

header nav a::after {
    content: "";
    position: absolute;
    left: 20%; right: 20%;
    bottom: -20px;
    height: 5px;
    /* margin-top: 200px; */
    background: #050941;
    border-radius: 3px 3px 0 0;
    /* opacity: 0; */
    transition: inherit;
}

header nav a:hover::after {
    opacity: 1;
    bottom: -10px;
}

a:hover {
    color: var(--pri-hover-clr);
}

/*navigation activation*/
header input#nav_activator {
    position: absolute;
    clip: rect(0,0,0,0);
}

.ssoc {
    display: none;
}

#nav-overlay {
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;
    height: 150vh;
    width: 150vw;
    margin-top: -25vh;
    margin-left: -25vw;
    z-index: 998;
    transition: all ease-in-out 250ms;
    visibility: hidden;
}

/* Footer */

footer {
    padding: 50px 10px;
    color: white;
    background: var(--pri-clr);
    font-weight: bold;
    font-family: 'Poiret One';
}

/* footer .container>* {
    flex-basis: 45%;
} */

footer a[href] {
    display: inline-block;
    padding: 5px 10px;
    transition: all ease-in-out 250ms, text-decoration linear 0s;
}

footer a:hover {
    text-decoration: underline rgba(0,0,0,.2);
}

footer nav {
    margin-bottom: 30px;
}

footer nav#footer-social {
    cursor: default;
}

footer nav#footer-social a:hover {
    opacity: .6;
}

footer address {
    margin-top: -5px;
}

footer address>* {
    padding: 0px 10px;
    font-style: normal;
}

footer #contact-form {
    padding: 0 10px;
}

#contact-form form {
    position: relative;
    margin-bottom: 1.2em;
    margin-bottom: calc(1em + 25px);
    padding-right: 10px;
}

footer #contact-form h3 {
    margin-top: 0;
}

footer #contact-form input,
footer #contact-form textarea {
    position: relative;
    display: inline-block;
    padding: 12px 10px;
    border: 2px solid white;
    /* border-radius: 10px; */
    font-size: 1em;
    background: transparent;
    width: 100%;
    max-width: 300px;
    min-height: 30px;
    color: white;
    margin-bottom: 10px;
}

footer #contact-form input:focus,
footer #contact-form textarea:focus {
    background: rgba(0,0,0,.2);
    outline: 0;
}

footer #contact-form input::placeholder,
footer #contact-form textarea::placeholder {
    color: white;
    font-family: 'Poiret One';
} 

#contact-form button {
    display: block;
    padding: 1em 2em;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-align: right;
    font-size: 1em;
    margin-top: 10px;
    transition: all ease-in-out 250ms;
    width: 100%;
    position: relative;
    max-width: 325px;
    text-align: center;
    margin: auto;
    /* line-height: 20px; */
    /* font-weight: 100 !important; */
}

#contact-form button:hover {
    color: var(--pri-clr);
    background: #fff;
}

footer #contact-form button:focus {
    outline: 0;
}


#copyright-and-developer-info {
    width: 100%;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

/* Media queries */
@media(max-width: 1200px) {
    header {
        position: relative;
    }

    footer {
        text-align: center;
    }

    footer .container>* {
        flex-grow: 1;
    }

    footer address {
        justify-content: center;
    }

    footer #contact-form h3 {
        margin-top: 2em;
    }
}

@media(max-width: 790px) {
    .ssoc {
        display: unset;
    }
    header {
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 0 3px 5px rgba(0,0,0,.4);
        z-index: 999;
        padding: 15px 0;
    }

    header+* {
        margin-top: 50px;
    }

    header nav {
        position: fixed;
        top: 0; right: 0;
        margin-left: 0;
        padding: 10vh 0; 
        width: 0;
        height: 100vh;
        background: #fff;
        font-size: 1.1em;
        overflow-y: auto;
        transition: all ease-in-out .25s;
        text-align: left;
        z-index: 998;
        box-shadow: -3px 0 5px rgba(0,0,0,.4);
    }

    header nav a {
        display: block;
        color: var(--pri-clr);
    }

    header nav a::after {
        left: 0;
        right: 0;
        height: 1px;
        bottom: 0;
        background: #ccc;
    }

    /*navigation activation*/
    header input#nav_activator {
        position: absolute;
        clip: rect(0,0,0,0);
    }

    .menu-bar {
        display: block;
        position: absolute;
        top: 0px;
        top: calc(50% - .99em);
        right: 10px;
        font-size: 11px;
        width: 3em;
        height: .3em;
        background: transparent;
        color: white;
        position: absolute;
        border-top: .8em solid transparent;
        border-bottom: .8em solid transparent;
        border-radius: 5px;
        box-shadow: inset 1.6em 0 0 0 transparent,
        inset -1.9em 0 0 0 currentColor;
        transition: all linear .25s;
        z-index: 999;
    }

    .menu-bar::before, .menu-bar::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: .28em;
        background: currentColor;
        transition: inherit;
    }

    .menu-bar::before {
        top: -.7em;
        border-radius: .1em .1em 0 0;
    }

    .menu-bar::after {
        top: .7em;
        border-radius: 0 0 .1em .1em;
    }

    input#nav_activator:checked~.ssoc .menu-bar {
        box-shadow: inset 0 0 0 0 transparent, 
        inset 0  0 0 0 transparent ;
        color: var(--pri-clr);
    }

    input#nav_activator:checked~.ssoc .menu-bar::after, input#nav_indicator:checked~.menu-bar::before {
        border-radius: 55px;
        top: 0;
    }

    input#nav_activator:checked~.ssoc .menu-bar::before {
        top: 0px;
        transform: rotate(-45deg);
    }

    input#nav_activator:checked~.ssoc .menu-bar::after {
        top: 0px;
        transform: rotate(45deg);
    }

    input#nav_activator:checked~nav {
        display: block;
        padding: 10vh 50px;
        min-width: 35vw;
    }

    header {
        overflow: visible;
    }

    input#nav_activator:checked~#nav-overlay {
        background: rgba(0,0,0,.5);
        visibility: visible;
    }
}

@media(max-width: 650px) {
    #copyright-and-developer-info {
        flex-direction: column-reverse;
        justify-content: center;
    }

    #copyright-and-developer-info>* {
        min-width: 70%;
        margin-top: 20px;
    }
}

@media(max-height: 300px) {
    header {
        position: static;
    }

    header+* {
        margin-top: 0;
    }
}